@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap');
/* font-family: 'Roboto Mono', monospace; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', monospace;
}

.parteheader{
    background-image: url(../imagenes/fondoheader3.jpg);
    background-size: cover;
    background-position: center; 
    padding: 2vh;
    height: 300px;
    position: relative;
}

.logo picture{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;   
}

.logo img{
    width: 48%;
}

a{
    text-decoration: none;
    color: #fff;
}

.sucursales a{
    color: #fff;
    position: absolute;
    padding: 1vh;
    top: 0;
    right: 0;
}

.lista{
    background-image: url(../imagenes/fondoheader6.jpg);
    background-size: cover;
    background-position: center; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 1vh;

}

.lista li{
    list-style: none;
    font-size: 1.2em;
}

main{
    width: 100%;
    background-image: url(../imagenes/main.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #dfd394;
    background-image: url(../imagenes/fondopizzarron.jpg);
    background-size: cover;
    margin: 3vh;
    padding: 2vh;  
}

section img{
    width: 60%;
}

picture{
    text-align: center;
}

.secpizzas{
    border-radius: 30px 0px;
}

.seclomitos{
    border-radius: 0px 30px;
}

.secempanadas{
    border-radius: 30px 0px;
}

.secpapasfritas{
    border-radius: 0px 30px;
}

.secsandwichs{
    border-radius: 30px 0px;
}

p{
    font-size: 0.8em;
    line-height: 1.5em;
}

footer{
    background-image: url(../imagenes/fondofooter2.jpg);

    background-size: cover;
    background-position: center; 
    color: #fff;
}
.dirsucursales{
    text-align: center;
    padding: 5vh;
}
.direcciones p{
    font-weight: bold;
    font-size: 0.5em;
    text-align: center;
    line-height: 2;
}

h4{
    margin-bottom: 10px;
}

.copy{
    font-size: 1.5vh;
    text-align: center;
    color: #fff;
    background-image: url(../imagenes/fondopizzarron.jpg);
}

@media screen and (min-width: 425px) {
    .parteheader{
        height: 450px;
    }
    .logo img{
        width: 60%;
    }
    section{
        width: 90%;
    }
    .direcciones p{
        font-size: 0.6em;
    }
    .copy{
        font-size: 1.8vh;
    }
}

@media screen and (min-width: 768px) {
    .sucursales a{
        font-size: 1.5em;
        padding: 20px;
    }
    .logo img{
        margin-top: 50px;
        width: 45%;
    }
    .parteheader{
        height: 700px;
    }
    .lista{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center; 
        padding: 3vh;
    }
    .direcciones p{
        font-size: 0.8em;
    }
    main{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    
    }
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 40%;
    }
    section img{
        width: 40%;
    }
}

@media screen and (min-width: 1024px) {
    body {

    }
}

@media screen and (min-width: 1440px) {
    body {
    
    }
}